.divContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    
}

.navigation-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    align-self: flex-start;
    padding: 15px;
}

.nav-btn{
    display: flex;
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.nav-btn:hover{

    color: white;
    background-color: rgb(156, 156, 192);
}

.nav-btn:hover img{

    
    filter: invert(100%);
}

.nav-btn:active{

    color: white;
    background-color: rgb(156, 156, 192);
}

.btn-img{
    width: 18px;
    margin-right: 10px
    
}

.profileImg{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    border-radius: 100px;
    object-fit: cover;
    
}

.profile-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
}

.textName{
    font-size: 16px;
    font-weight: bold;
    align-items:center
}

.tag{
    font-family:sans-serif ;
    color: grey;

}

a:visited{
    color: black;
}

