body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.studyMat {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

#branch,
#semester,
#subject,
.formInput,
.submitBtn {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#file {
    width: calc(100% - 20px);
}

.submitBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #0056b3;
}
