.home-screen{
    display:flex;
    /* width: 2500px; */
    flex-direction: row;
    overflow-x: auto;
    
}

.post-display{
    display: flex;
    flex: 3;
    width: 50%;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    margin-top: 20px;

}

.others-display{
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    
}

.nav{
    
    flex: 1;
    align-self: flex-start;
    height: 100vh;
    width: 100%;
}

.text{
    font-weight: bold;
    
}

.disc-btn{
    height: 35px;
    padding: 0px;
    border-radius: 8px;
    background-color: rgb(108, 151, 243);
    font-weight: bold;
}

.disc-btn:hover{
    color: white;
    background-color: rgb(156, 156, 192);
}

.upload-sec{
    
    width: 100%;
    margin-top: 40px;
    flex-direction: column;
}